label.LinkBox {
  background:url(../options_default.png) no-repeat;
  text-indent:-9999px;
  width:15px; cursor:pointer;
  height:15px;
  float:left;
  display:block;
}
.LinkBoxArea {
  float:left; width:170px; height:auto;
  /* display:none; */
  border: 2px solid #ddd;
  padding:15px 10px 5px;
  webkit-box-shadow:0 0 5px rgba(0,0,0,0.2);
  moz-box-shadow:0 0 5px rgba(0,0,0,0.2);
  box-shadow:0 0 5px rgba(0,0,0,0.2);
  border:1px solid #ddd;
}
.LinkBoxArea a:hover { /* border-bottom:1px solid #ddd; */ margin-left:15px;}
.LinkBoxArea a {
  font-size:12px; height: 25px; width:135px; float:left;
  text-decoration:none;
  color:#000;
  margin: 0px 5px 0px ;
  padding: 5px 0 5px 30px ;
}
.LinkBoxAreaOpen { display:inline; }

a.crap { background:url(../img/chart.png)  no-repeat; }
a.nrap { background:url(../img/chart.png) no-repeat; }
a.refr { background:url(../img/chart.png)  no-repeat; }
a.edit { background:url(../img/chart.png) no-repeat; }
a.copy { background:url(../img/chart.png) no-repeat; }
a.del  { background:url(../img/chart.png) no-repeat; }



label.InfoBox {
  background:url(../options_default.png) no-repeat;
  text-indent:-9999px;
  width:15px; cursor:pointer;
  height:15px;
  float:left;
  display:block;
}
.InfoBoxArea {
  float:left; width:300px; height:auto;
  display:none;
  border: 2px solid #ddd;
  padding:10px;
  padding-top:5px;
  webkit-box-shadow:0 0 5px rgba(0,0,0,0.2);
  moz-box-shadow:0 0 5px rgba(0,0,0,0.2);
  box-shadow:0 0 5px rgba(0,0,0,0.2);
  border:1px solid #ddd;
}

.InfoBoxArea h3 { font-size:14px; padding-bottom:10px; border-bottom:1px solid #ddd; }
.InfoBoxArea table {font-size:11px;  width:250px; }
.InfoBoxArea table th { width: 100px; text-align:left; }
.InfoBoxArea table td { width:150px; }

.InfoBoxArea a {
  font-size:12px; height: 25px; width:135px; float:left;
  text-decoration:none;
  color:#000;
  margin: 0px 5px 0px ;
  padding: 5px 0 5px 30px ;
}
.InfoBoxAreaOpen { display:inline; }


